<h1>Upload Files Net Core</h1>

<form method="post" enctype="multipart/form-data">
    <label>Seleccione un fichero</label>
    <input type="file" name="fichero" class="form-control"/>
    <button class="btn btn-info">
        Subir fichero
    </button>
</form>
<img src="~/uploads/batman.png" 
style="width: 150px; height: 150px"/>

<h2 style="color:red">
    @ViewData["MENSAJE"]
</h2>